<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Seguimiento de notas</title>
  <link rel="stylesheet" href="escritorcss.css">
</head>
<body>
  <header>
      <a href="PaginaEscritor.html" class="btn-back">
      <img src="../img/flecha5.png" alt="Regresar">
    </a>
    Menu de notas
  </header>

  <div class="container">
    <h2 class="section-title">Seguimiento de notas enviadas</h2>

    <table>
      <thead>
        <tr>
          <th>Título</th>
          <th>Status</th>
          <th>Fecha de envío</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><select><option>Nota 1</option></select></td>
          <td>Rechazada</td>
          <td>23-04-2025</td>
          <td><button class="btn">Abrir</button></td>
        </tr>
        <tr>
          <td><select><option>Nota 2</option></select></td>
          <td>Publicada</td>
          <td>29-09-2025</td>
          <td></td>
        </tr>
        <tr>
          <td><select><option>Nota 3</option></select></td>
          <td>Devuelta (comentario)</td>
          <td>12-10-2025</td>
          <td><button class="btn">Abrir</button></td>
        </tr>
        <tr>
          <td><select><option>Nota 4</option></select></td>
          <td>En revisión</td>
          <td>23-12-2025</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
</body>
</html>
