<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Misión - Instituto Tecnológico de Saltillo</title>
  <link rel="stylesheet" href="mision.css">
</head>
<body>
    
  <header>
    <h1>Misión del Instituto Tecnológico de Saltillo</h1>
  </header>

  <main>
    <section class="mision">
      <p>
       
        Impartir educación superior tecnológica de calidad, formando de manera integral profesionales competentes, con alto sentido de responsabilidad social, sólida formación en ciencia, tecnología e innovación, que contribuyan al desarrollo sustentable del país.
      </p>
    </section>

    <section class="galeria">
      <img src="../Img/mision1.jpeg" alt="Imagen 1">
      <img src="../Img/mision2.jpeg" alt="Imagen 2">
      <img src="../Img/mision3.jpg" alt="Imagen 3">
    </section>
  </main>
</body>
</html>
