<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inicio de Sesión</title>
  <link rel="stylesheet" href="Login.css">
</head>
<body>
  <a href="../Principal/PaginaPrincipal.html" class="btn-back">
    <img src="../img/flecha5.png" alt="Regresar">
  </a>
    
  <div class="container">

    <!-- Mitad izquierda (imagen como fondo) -->
    <div class="left-side"></div>

    <!-- Mitad derecha (formulario) -->
    <div class="right-side">
      <div class="header">
        <img src="../img/logo.png" alt="Logo ITS" class="logo">
        <h2 class="titulo">Instituto Tecnológico de Saltillo</h2>
      </div>

      <h3 class="login-text">Iniciar Sesión</h3>
      

      <form class="login-form">
        <label for="correo">Correo</label>
        <input type="email" id="correo" placeholder="Ingresa tu correo">

        <label for="password">Contraseña</label>
        <input type="password" id="password" placeholder="Ingresa tu contraseña">

        <div class="botones">
  <button type="submit" class="btn-login">Iniciar sesión</button>
 
  <a href="Registrar.html">
   <button type="button" class="btn-register">Registrarse</button>
</a>


  
</div>
      </form>
    </div>

  </div>
</body>
</html>
